.idea
*.pth
*.pyth
outputs/
*.nii.gz
*/__pycache__
*/.ipynb_checkpoints
*/.idea
*/.git
*/.gitignore
*/.DS_Store
*/.vscode
*/.vs
events.out.tfevents.*
flair_outputs/
all_roi_outputs/
t1c_outputs/
t2_outputs/
flair_roi_outputs/